@charset "UTF-8";

/*MOBILE*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95em;
}

:root{
    --azul: #498aa0dc;
    --lilás: #602c82ea;
}

body {
    background-color: var(--azul);
    background-attachment: fixed;
    height: 100vh;
}
main {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #ffffff;
    overflow: hidden;
    min-height: 500px;
    height: 60vh;
    width: 70vw;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #00000041;
    transition: width .25s;
}

section {
    display: block;
}

section h1, p {
    text-align: justify;
    padding: 8px 10px 0px 10px;
}

section h1 {
    text-align: center;
    font-size: 1.2em;
}

#imagem {
    display: block;

    background: var(--azul) url(img-form.jpg) center no-repeat;
    background-size: cover;
    height: 170px;
}

section label {
    
}

#usuario {
    background-color: var(--azul);
    color: white;
    width: 220px;
    border-radius: 15px;
    padding: 3px 5px 10px 0px;
    margin: 10px;
}

form input[type=submit] {
    display: block;

    background-color: var(--azul);
    border-radius: 10px;
    border-color: var(--azul);
    font-size: 1em;
    color: white;
    margin: 15px auto;
    padding: 5px;
    width: 90%;
}

form input[type=submit]:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, var(--azul), var(--lilás));
    transition: ;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.621);
}
